html,body{
    width:100%;
    height: 100%;
    .box{
        width:100%;
        height: 100%;
    }
}
.loginpage{
    position: fixed;
    top:0;
    left:0;
    margin:auto;
    right: 0;
    bottom: 0;
    width:762px;
    height: 584px;
    background: url('../images/404.png') no-repeat;
}