@charset 'utf-8';
@import '../../../../assets/scss/common.scss';
//弹框
.custom_alert{
   &.layui-layer{
       z-index: 100; 
       top: 1%;
       position: fixed;
       margin: 0 auto;
       left:0;
       right:0;
       width:90%;
       z-index: 1000!important;
       &.project{
           top: 30%;
           width:350px;
       }
       &.alert1{
           @media screen and (max-width: 1680px) {
               top:10px;
                 #aa {
                    height:300px;
                    overflow: auto;
                }
           }
       }
   }
   .layui-form{
       padding: 10px 20px 0 20px;
       &.table{
           padding-top:0;
       }
       .input{
            margin-bottom:5px;
       }
       .layui-form-label{
           width:auto;
       }
       .layui-form-item {
           margin-bottom:0;
       }
       .layui-inline{
           margin-right:0;
       }
   }
}
// //弹框分页几条
// #aa{
//     select, .layui-form input[type=checkbox], .layui-form input[type=radio] {
//         display: inline-block;
//     }
//     .layui-unselect{ 
//         &.layui-form-select{
//             display: none;
//         }
//     }
// }