@charset 'utf-8';
@import '../../../../assets/scss/common.scss';
//弹框
.custom_alert{
   &.layui-layer{
       z-index: 100; 
       top: 10%;
       position: fixed;
       margin: 0 auto;
       left:0;
       right:0;
       width:80%;
       &.alert{
           top: 10%;
           width:800px;
       }
   }
   .layui-form{
       padding: 10px 20px 0 20px;
       .layui-form-label{
           width:auto;
       }
       .layui-inline{
           margin-right:0;
       }
   }
}