@charset 'utf-8';
@import '../../../../assets/scss/common.scss';
html, body{
    width: 100%;
}
.echarts{
    width:100%;
    height:auto;
    padding: 20px 0;
}
.layui-table{
    &.table{
        tr:hover{background-color: #fff;}
    }
}