@charset 'utf-8';
@import '../../../../assets/scss/common.scss';

.container{
    padding-top:20px;
    background: #fff;
}
.block{
    clear:both;
    content: '.';
    overflow: hidden;
}
.item {
    .pie{
        box-sizing: border-box;
        padding-left:20px;
        width:40%;
        height: 400px;
        float:left;
        &.three{
            height: 500px;
            min-width:440px;
        }
    }
    .tablebox{
        // height: 400px;
        overflow: auto;
        box-sizing: border-box;
        padding-right: 20px;
        float:left;
        width:60%;
        text-align:center;
        .fr{
            float:right;
        }
        .fl{
            float:left;
        }
        .tbodyH{
            td{
                line-height: 60px;
                height: 60px;
            }
        }
    }
}
.animate{
    // padding-bottom:100px;
}
.layui-table{
    &.table{
        tr:hover{background-color: #fff;}
    }
}