@charset 'utf-8';
@import '../../../../assets/scss/common.scss';
.custom_alert{
   &.layui-layer{
       z-index: 100; 
       top: 30%;
       position: fixed;
       margin: 0 auto;
       left:0;
       right:0;
       width:350px;
   }
   .layui-form{
       padding: 10px 20px 0 20px;
       .layui-form-label{
           width:auto;
       }
   }
}

